    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
My style
*/
@font-face {
    font-family: taskOutcomeFont;
    src: url("../fonts/palitoon.otf")
}

html, body {
    text-align: center;
    font: 100% Georgia, "Times New Roman", Times, serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #F1F1F1;
    position: fixed;
    padding: 0;
    background-size: cover;
}

#header {
    background: #00325B;
    color: white;
    font-family: taskOutcomeFont;
    font-size: 40px;
    border-bottom: ridge 2px;
    border-color: #FFFFFF;
    float: left;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    position: relative;

}

#header h3 {
    margin-top: 30px;
}

#currentTime {
    float: right;
    color: #BEBEBE;
    font-size: 25px;
    box-sizing: border-box;
    margin-right: 20px;
}

.mainContainer {
    border: ridge #ACACAC 1px;
    position: relative;
    width: 60%;
    min-height: 400px;
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 245px;
    background-color: white;

}

#form {
    width: 70%;
    height: 100%;
    display: inline-block;
    margin-top: 30px;
}

#newTaskEntry {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    font-family: taskOutcomeFont;
    font-size: 25px;
    overflow: hidden;
    -webkit-box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.35);
}

#submit {
    background: #3079B8;
    width: 70px;
    height: 50px;
    border-radius: 7px;
    color: white;
    font-family: taskOutcomeFont;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    float: right;
    margin-top: 10px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 100%;
    border-top: ridge #E5E5E5 2px;
    background: white;
    position: fixed;
    min-height: 600px;
    padding: 20px;
}

#footerMessage {
    display: block;
   text-align: center;
    float: right;
    margin-right: 5%;
}

#newTaskEntry:active {
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.newTaskEntry {
    width: 100%;
    resize: both;
}

#clear {
    clear: both;
}

.outcomeTable {
    width: 100%;
    position: relative;
    min-height: 100px;
    margin-top: 30px;
}

.taskOutcome, .checkBoxOutcome, .deleteOutcome {
    width: 100%;
}
.newTaskEntry{
    border-bottom: solid #CFCFD8 2px;
    position: relative;
}
.taskOutcome {
    font-family: taskOutcomeFont;
    font-size: 30px;
    text-align: left;
}

.taskOutcome, tr {
    word-wrap: break-word;
    max-width: 300px ;
}

.taskCheckBox, .deleteOutcome {
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.fa-info-circle{
    width: 100%;
    opacity: 0px;
    padding: 4px;
    cursor: pointer;
    position: relative;
}

#newTaskEntry[disabled] {
    -webkit-box-shadow: inset -2px -2px 91px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset -2px -2px 91px -3px rgba(0, 0, 0, 1);
    box-shadow: inset -2px -2px 91px -3px rgb(231, 231, 231));
}

#taskDetails {
    border: solid white 3px;
    height: 30px;
    width: 20%;
    top: 0;
}

.newTaskEntry:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.alert-info {
    cursor: pointer;
    height: 20px;
    width: 300px;
    text-align: center;
    display: none;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    float: left;
    margin-left: -500px;
    background: #D9EDF7;
    text-wrap: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 9px 5px -5px rgba(217, 208, 208, 1);
    -moz-box-shadow: 10px 9px 5px -5px rgba(217, 208, 208, 1);
    box-shadow: 10px 9px 5px -5px rgba(217, 208, 208, 1);
}
.active{
    display: block;
}
.fa-lightbulb-o {
    position: relative;
    float: left;
    color: #6E6E73;
    font-size: 25px;
    font-weight: bold;
    -webkit-animation-name: bulbLighting;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: bulbLighting;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
    @-webkit-keyframes bulbLighting {
        0% {color: #CFCFCF;}
        20% {color: #FFFFCC;}
        40% {color: #FFFF99;}
        60% {color: #FFFF66;}
        80% {color: #FFFF00;}
        100% {color: #FF3300;}
    }